[data-theme="light"] {
  --background: #f7f8fc;
  --background-text-color: var(--dark-text-color);
  --light-text-color: var(--shade-0);
  --dark-text-color: var(--shade-900);
  --primary-25: hsla(var(--primary-hue, 252), 25%, 98%, 1);
  --primary-25-text-color: var(--dark-text-color);
  --primary-50: hsla(var(--primary-hue, 252), 45%, 98%, 1);
  --primary-50-text-color: var(--dark-text-color);
  --primary-100: hsla(var(--primary-hue, 252), 67%, 95%, 1);
  --primary-100-text-color: var(--dark-text-color);
  --primary-200: hsla(var(--primary-hue, 252), 54%, 86%, 1);
  --primary-200-text-color: var(--dark-text-color);
  --primary-300: hsla(var(--primary-hue, 252), 55%, 72%, 1);
  --primary-300-text-color: var(--dark-text-color);
  --primary-400: hsla(var(--primary-hue, 252), 61%, 59%, 1);
  --primary-400-text-color: var(--light-text-color);
  --primary-500: hsla(var(--primary-hue, 252), 87%, 39%, 1);
  --primary-500-text-color: var(--light-text-color);
  --primary-600: hsla(var(--primary-hue, 252), 90%, 32%, 1);
  --primary-600-text-color: var(--light-text-color);
  --primary-700: hsla(var(--primary-hue, 252), 100%, 19%, 1);
  --primary-700-text-color: var(--light-text-color);
  --primary-800: hsla(var(--primary-hue, 252), 100%, 15%, 1);
  --primary-800-text-color: var(--light-text-color);
  --aqua-100: hsla(var(--secondary-hue, 166), 62%, 95%, 1);
  --aqua-100-text-color: var(--dark-text-color);
  --aqua-200: hsla(var(--secondary-hue, 166), 62%, 87%, 1);
  --aqua-200-text-color: var(--dark-text-color);
  --aqua-300: hsla(var(--secondary-hue, 166), 63%, 75%, 1);
  --aqua-300-text-color: var(--dark-text-color);
  --aqua-400: hsla(var(--secondary-hue, 166), 63%, 63%, 1);
  --aqua-400-text-color: var(--dark-text-color);
  --aqua-500: hsla(var(--secondary-hue, 166), 63%, 50%, 1);
  --aqua-500-text-color: var(--dark-text-color);
  --aqua-600: hsla(var(--secondary-hue, 166), 63%, 45%, 1);
  --aqua-600-text-color: var(--dark-text-color);
  --aqua-700: hsla(var(--secondary-hue, 166), 63%, 37%, 1);
  --aqua-700-text-color: var(--light-text-color);
  --red-100: hsla(var(--red-hue, 3), 100%, 96%, 1);
  --red-100-text-color: var(--dark-text-color);
  --red-200: hsla(var(--red-hue, 3), 87%, 91%, 1);
  --red-200-text-color: var(--dark-text-color);
  --red-300: hsla(var(--red-hue, 3), 85%, 81%, 1);
  --red-300-text-color: var(--dark-text-color);
  --red-400: hsla(var(--red-hue, 3), 87%, 73%, 1);
  --red-400-text-color: var(--dark-text-color);
  --red-500: hsla(var(--red-hue, 3), 87%, 59%, 1);
  --red-500-text-color: var(--light-text-color);
  --red-600: hsla(var(--red-hue, 3), 63%, 46%, 1);
  --red-600-text-color: var(--light-text-color);
  --red-700: hsla(var(--red-hue, 3), 63%, 41%, 1);
  --red-700-text-color: var(--light-text-color);
  --red-800: hsla(var(--red-hue, 3), 63%, 36%, 1);
  --red-800-text-color: var(--light-text-color);
  --orange-100: hsla(var(--orange-hue, 33), 90%, 96%, 1);
  --orange-100-text-color: var(--dark-text-color);
  --orange-200: hsla(var(--orange-hue, 33), 85%, 90%, 1);
  --orange-200-text-color: var(--dark-text-color);
  --orange-300: hsla(var(--orange-hue, 33), 87%, 79%, 1);
  --orange-300-text-color: var(--dark-text-color);
  --orange-400: hsla(var(--orange-hue, 33), 87%, 70%, 1);
  --orange-400-text-color: var(--dark-text-color);
  --orange-500: hsla(var(--orange-hue, 33), 87%, 59%, 1);
  --orange-500-text-color: var(--dark-text-color);
  --orange-600: hsla(var(--orange-hue, 33), 73%, 47%, 1);
  --orange-600-text-color: var(--light-text-color);
  --shade-0: hsla(var(--shade-hue, 207), var(--shade-saturation, 10%), 100%, 1);
  --shade-0-text-color: var(--dark-text-color);
  --shade-10: hsla(var(--shade-hue, 207), var(--shade-saturation, 10%), 99%, 1);
  --shade-10-text-color: var(--dark-text-color);
  --shade-25: hsla(var(--shade-hue, 207), var(--shade-saturation, 10%), 98%, 1);
  --shade-25-text-color: var(--dark-text-color);
  --shade-50: hsla(var(--shade-hue, 207), var(--shade-saturation, 10%), 95%, 1);
  --shade-50-text-color: var(--dark-text-color);
  --shade-100: hsla(
    var(--shade-hue, 207),
    var(--shade-saturation, 10%),
    90%,
    1
  );
  --shade-100-text-color: var(--dark-text-color);
  --shade-200: hsla(
    var(--shade-hue, 207),
    var(--shade-saturation, 10%),
    80%,
    1
  );
  --shade-200-text-color: var(--dark-text-color);
  --shade-300: hsla(
    var(--shade-hue, 207),
    var(--shade-saturation, 10%),
    70%,
    1
  );
  --shade-300-text-color: var(--dark-text-color);
  --shade-400: hsla(
    var(--shade-hue, 207),
    var(--shade-saturation, 10%),
    60%,
    1
  );
  --shade-400-text-color: var(--dark-text-color);
  --shade-500: hsla(
    var(--shade-hue, 207),
    var(--shade-saturation, 10%),
    50%,
    1
  );
  --shade-500-text-color: var(--light-text-color);
  --shade-600: hsla(
    var(--shade-hue, 207),
    var(--shade-saturation, 10%),
    40%,
    1
  );
  --shade-600-text-color: var(--light-text-color);
  --shade-700: hsla(
    var(--shade-hue, 207),
    var(--shade-saturation, 10%),
    30%,
    1
  );
  --shade-700-text-color: var(--light-text-color);
  --shade-800: hsla(
    var(--shade-hue, 207),
    var(--shade-saturation, 10%),
    20%,
    1
  );
  --shade-800-text-color: var(--light-text-color);
  --shade-900: hsla(
    var(--shade-hue, 207),
    var(--shade-saturation, 10%),
    10%,
    1
  );
  --shade-900-text-color: var(--light-text-color);
}

[data-theme="dark"] {
  --background: hsla(207, 8%, 2.5%, 1);
  --background-text-color: var(--light-text-color);
  --light-text-color: var(--shade-900);
  --dark-text-color: #000;
  --primary-25: hsla(var(--primary-hue, 240), 14.4%, 10%, 1);
  --primary-25-text-color: var(--light-text-color);
  --primary-50: hsla(var(--primary-hue, 240), 25.9%, 10%, 1);
  --primary-50-text-color: var(--light-text-color);
  --primary-100: hsla(var(--primary-hue, 240), 38.5%, 12%, 1);
  --primary-100-text-color: var(--light-text-color);
  --primary-200: hsla(var(--primary-hue, 240), 31%, 14%, 1);
  --primary-200-text-color: var(--light-text-color);
  --primary-300: hsla(var(--primary-hue, 240), 31.6%, 28%, 1);
  --primary-300-text-color: var(--light-text-color);
  --primary-400: hsla(var(--primary-hue, 240), 35.1%, 41%, 1);
  --primary-400-text-color: var(--light-text-color);
  --primary-500: hsla(var(--primary-hue, 240), 50%, 61%, 1);
  --primary-500-text-color: var(--light-text-color);
  --primary-600: hsla(var(--primary-hue, 240), 51.7%, 68%, 1);
  --primary-600-text-color: var(--light-text-color);
  --primary-700: hsla(var(--primary-hue, 240), 57.5%, 81%, 1);
  --primary-700-text-color: var(--dark-text-color);
  --primary-800: hsla(var(--primary-hue, 240), 57.5%, 85%, 1);
  --primary-800-text-color: var(--dark-text-color);
  --aqua-100: hsla(var(--secondary-hue, 166), 38%, 5%, 1);
  --aqua-100-text-color: var(--light-text-color);
  --aqua-200: hsla(var(--secondary-hue, 166), 38%, 13%, 1);
  --aqua-200-text-color: var(--light-text-color);
  --aqua-300: hsla(var(--secondary-hue, 166), 37%, 25%, 1);
  --aqua-300-text-color: var(--light-text-color);
  --aqua-400: hsla(var(--secondary-hue, 166), 37%, 37%, 1);
  --aqua-400-text-color: var(--light-text-color);
  --aqua-500: hsla(var(--secondary-hue, 166), 37%, 50%, 1);
  --aqua-500-text-color: var(--dark-text-color);
  --aqua-600: hsla(var(--secondary-hue, 166), 37%, 55%, 1);
  --aqua-600-text-color: var(--dark-text-color);
  --aqua-700: hsla(var(--secondary-hue, 166), 37%, 63%, 1);
  --aqua-700-text-color: var(--dark-text-color);
  --red-100: hsla(var(--red-hue, 3), 67%, 5%, 1);
  --red-100-text-color: var(--light-text-color);
  --red-200: hsla(var(--red-hue, 3), 54%, 14%, 1);
  --red-200-text-color: var(--light-text-color);
  --red-300: hsla(var(--red-hue, 3), 55%, 28%, 1);
  --red-300-text-color: var(--light-text-color);
  --red-400: hsla(var(--red-hue, 3), 61%, 41%, 1);
  --red-400-text-color: var(--light-text-color);
  --red-500: hsla(var(--red-hue, 3), 87%, 58%, 1);
  --red-500-text-color: var(--light-text-color);
  --red-600: hsla(var(--red-hue, 3), 90%, 65%, 1);
  --red-600-text-color: var(--light-text-color);
  --red-700: hsla(var(--red-hue, 3), 92%, 75%, 1);
  --red-700-text-color: var(--dark-text-color);
  --red-800: hsla(var(--red-hue, 3), 100%, 85%, 1);
  --red-800-text-color: var(--dark-text-color);
  --orange-100: hsla(var(--orange-hue, 33), 67%, 5%, 1);
  --orange-100-text-color: var(--light-text-color);
  --orange-200: hsla(var(--orange-hue, 33), 54%, 14%, 1);
  --orange-200-text-color: var(--light-text-color);
  --orange-300: hsla(var(--orange-hue, 33), 55%, 28%, 1);
  --orange-300-text-color: var(--light-text-color);
  --orange-400: hsla(var(--orange-hue, 33), 61%, 41%, 1);
  --orange-400-text-color: var(--light-text-color);
  --orange-500: hsla(var(--orange-hue, 33), 87%, 61%, 1);
  --orange-500-text-color: var(--dark-text-color);
  --orange-600: hsla(var(--orange-hue, 33), 90%, 68%, 1);
  --orange-600-text-color: var(--dark-text-color);
  --shade-0: hsla(var(--shade-hue, 240), var(--shade-saturation, 10%), 5%, 1);
  --shade-0-text-color: var(--light-text-color);
  --shade-10: hsla(
    var(--shade-hue, 240),
    var(--shade-saturation, 10%),
    6.25%,
    1
  );
  --shade-10-text-color: var(--light-text-color);
  --shade-25: hsla(
    var(--shade-hue, 240),
    var(--shade-saturation, 10%),
    12.5%,
    1
  );
  --shade-25-text-color: var(--light-text-color);
  --shade-50: hsla(var(--shade-hue, 240), var(--shade-saturation, 10%), 25%, 1);
  --shade-50-text-color: var(--light-text-color);
  --shade-100: hsla(
    var(--shade-hue, 240),
    var(--shade-saturation, 10%),
    10%,
    1
  );
  --shade-100-text-color: var(--light-text-color);
  --shade-200: hsla(
    var(--shade-hue, 240),
    var(--shade-saturation, 10%),
    30%,
    1
  );
  --shade-200-text-color: var(--light-text-color);
  --shade-300: hsla(
    var(--shade-hue, 240),
    var(--shade-saturation, 10%),
    40%,
    1
  );
  --shade-300-text-color: var(--light-text-color);
  --shade-400: hsla(
    var(--shade-hue, 240),
    var(--shade-saturation, 10%),
    50%,
    1
  );
  --shade-400-text-color: var(--light-text-color);
  --shade-500: hsla(
    var(--shade-hue, 240),
    var(--shade-saturation, 10%),
    60%,
    1
  );
  --shade-500-text-color: var(--light-text-color);
  --shade-600: hsla(
    var(--shade-hue, 240),
    var(--shade-saturation, 10%),
    70%,
    1
  );
  --shade-600-text-color: var(--dark-text-color);
  --shade-700: hsla(
    var(--shade-hue, 240),
    var(--shade-saturation, 10%),
    80%,
    1
  );
  --shade-700-text-color: var(--dark-text-color);
  --shade-800: hsla(
    var(--shade-hue, 240),
    var(--shade-saturation, 10%),
    90%,
    1
  );
  --shade-800-text-color: var(--dark-text-color);
  --shade-900: hsla(
    var(--shade-hue, 240),
    var(--shade-saturation, 10%),
    90%,
    1
  );
  --shade-900-text-color: var(--dark-text-color);
}
